/* --- RALEWAY FONT --- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
    --- ROOT ---
*/
:root {
    --primary-color: #F6B129;
    --secondry-color: #23314F;
    --gray-color: #848484;
    --black-color: #222;
    --white-color: #fff;
    --font-open-sans: 'Open Sans',sans-serif;
    --font-montserrat: 'Montserrat',sans-serif;
}


/* 
    --- DEFAULT CSS ---
*/
body {
    font-family: var(--font-open-sans);
    font-size: 15px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.just-self-end {
    justify-self: flex-end;
}

.d-flex {
    display: flex;
}
.section-spacing {
    padding: 100px 0px 90px;
}

/* 
    --- DEFAULT HOVER ---
*/
a:hover, a:hover i {
    color: var(--primary-color);
}


/* 
    DEFAULT BUTTON
*/
.btn-section .main-btn {
    display: inline-block;
    padding: 18px 30px;
    text-align: center;
    font-size: 14px;
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-family: var(--font-montserrat);
    margin: 0 0 0 16px;
    color: var(--white-color);
    font-weight: 400;
    transition: .3s;
}


/* 
    --- DEFAULT TITLE ---
*/
.section-title {
    text-align: center;
    color: var(--black-color);
    margin-bottom: 68px;
}
.section-title h2 {
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 34px;
    line-height: 43px;
}
.section-title p {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 10px;
    position: relative;
}
.section-title p::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 5px;
    background-color: var(--primary-color);
    bottom: -18px;
    left: 50%;
    translate: calc(-50%);
    border-radius: 10px;
    z-index: 1;
}


/* 
    HEADER
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* 
    --- UPPER HEADER ---
*/
.upper-header {
    background-color: var(--secondry-color);
}

.top-left {
    display: grid;
    grid-template-columns: 18.5% 19% auto 17.8%;
    grid-template-rows: auto;
    color: #C8CFDA;
    align-items: center;
}


/* --- CONTACT DETAIL --- */
.top-left li:nth-child(1), .top-left li:nth-child(2) {
    line-height: 54px;
}

.top-left li a {
    color: #C8CFDA;
}

.fa-clock, .fa-phone {
    color: var(--primary-color);
    font-size: 12px;
    margin-right: 6px;
}

/* --- SOCIAL ICON --- */
.items3, .top-left li:nth-child(3) i {
    justify-self: flex-end;
    margin: 0 10px;
}

/* --- header button css --- */
.top-left .btn-section {
    justify-self: flex-end;
}


/* 
    --- LOWER HEADER ---
*/
.bg-color-header {
    background-color: rgba(255, 255, 255, 0.88);
}

.lower-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}

/* biznes logo */
.lower-header .biznes-logo {
    width: 26%;
}

/* Toggle button */
.navbar-toggle {
    display: none;
    border: none;
    color: var(--primary-color);
    background-color: transparent;
    font-size: 25px;
    padding: 9px;
}

/* lower navbar */
.lower-header .d-flex {
    align-items: center;
    justify-content: space-between;
}
.lower-header nav {
    margin-right: 56px;
}
.lower-header nav a {
    display: inline-block;
    padding: 44px 6px 40px 6px;
    text-transform: uppercase;
    margin-left: 36px;
    color: var(--black-color);
    transition: .3s;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.lower-header nav a:first-child {
    color: var(--primary-color);
}

.lower-header nav a i {
    position: absolute;
    right: -7px;
    top: 50%;
}

/* --- SEARCH BAR -- */
.search-btn {
    padding: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: transparent   ;
    font-weight: bold;
    position: relative;
}

.search-btn::before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: var(--gray-color);
    position: absolute;
    left: -77%;
    top: 50%;
    transform: translateY(-50%);
}


/* 
    --- BANNER ---
*/
.banner-img {
    background: url(../images/banner-image.jpeg) center no-repeat;
    background-size: cover;
    padding: 295px 0px 230px;
    color: var(--white-color);
}

.banner-content {
    margin-right: 193px;
}

.banner-head {
    line-height: 70px;
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 65px;
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.banner-paragraph {
    line-height: 26px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 16px;
    max-width: 640px;
}

.banner-btns {
    display: flex;
    margin-top: 50px;
}
.banner-btns .main-btn {
    border-radius: 5px;
    transition: .3s;
    padding: 11px 33px 10px;
}
.banner-btns .first-btn {
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    margin: 0;
}
.first-btn:hover {
    background-color: transparent;
    border: 2px solid var(--white-color);
}
.banner-btns .second-btn {
    background-color: transparent;
    border: 2px solid var(--white-color);
}
.banner-btns .second-btn:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white-color);
}


/* 
    --- FEATURE SECTION ---
*/
.feauture-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
}
figure {
    border: 1px solid #e4e4e4;
    transition: .3s;
}
figure:hover {
    box-shadow: 0px 0px 10px 5px rgba(231, 231, 231, 0.6);
}
.feauture-part .feature-img {
    width: 100%;
}
.feauture-part .feature-img img {
    width: 100%;
}
.feature-content {
    padding: 48px 0 22px 28px;
    position: relative;
}
.feature-content h2 {
    font: 20px var(--font-montserrat);
    margin: 0 0 8px 0;
}
.feature-content p {
    font-size: 14px;
    font-weight: 300;
    color: var(--gray-color);
    margin: 0 0 10px 0;
}
.feauture-part .icon-box {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    top: -30px;
    left: 30px;
    border-radius: 5px;
}
.feauture-part .icon-box img {
    padding: 14px;
}


/* 
    --- SERVICE SECTION ---
*/
.service-section {
    position: relative;
    overflow: hidden;
    padding: 100px 0px;
    background-color: #f5f5f8;
}
/* --- bg image --- */
.service-section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background: url(../images/service.jpeg) repeat;
    padding: 200px 0px;
    z-index: 0;
}
/* --- dark layer --- */
.service-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #253559;
    opacity: .8;
    z-index: 1;
}
/* --- service title --- */
.service-title {
    text-align: left;
    z-index: 2;
    width: 25%;
}
.service-title  h2 {
    font-weight: 400;
    color: var(--white-color);
    margin-bottom: 10px;
}
.section-title h2 span {
    color: var(--primary-color);
}
.service-section .section-title p {
    color: #d4d6dc;
    padding-top: 40px;
    margin-bottom: 30px;
}
.service-section .section-title p::after {
    left: 25px;
    top: 0;
}
/* --- service btn --- */
.section-title .main-btn {
    margin-left: 0;
    border: 1px solid var(--gray-color);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 15px;
}
.section-title .main-btn:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.section-title .main-btn:hover i {
    color: var(--white-color);
}
/* --- side content box --- */
.service-section .service-side-content {
    width: 75%;
    z-index: 2;
}
.service-side-content .item {
    padding: 55px 10px 13px 40px;
    background-color: var(--white-color);
}
.service-img {
    width: 17%;
    margin-bottom: 28px;
    position: relative;
}
.service-img::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: var(--gray-color);
}
.service-img img {
    width: 100%;
}
.service-box {
    z-index: 3;
}
.service-box a {
    display: block;
    font-family: var(--font-montserrat);
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--black-color);
}
.text {
    color: #d4dae3;
    line-height: 26px;
    margin-bottom: 3px;
}


/* 
    --- EXPERT PEOPLE SECTION ---
*/
.expert-part {
    display: flex;
    align-items: center;
}
.expert-img {
    width: 40%;
    position: relative;
    padding: 0 15px;
}
.expert-img img {
    width: 100%;
}
.expert-list-inline {
    position: absolute;
    bottom: -24px;
    left: 50%;
    translate: calc(-50%);
}
.expert-list-inline li {
    margin: 0 5px;
    width: 55px;
}
/* expert content */
.expert-content {
    width: 60%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.expert-content a {
    display: block;
    font: 26px var(--font-montserrat);
    color: var(--black-color);
    line-height: 35px;
    margin-bottom: 4px;
}
.expert-content em {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
}
.expert-content p {
    margin: 0 0 26px;
    font-weight: 300;
    color: #989898;
}
.expert-content .team-contact {
    margin-bottom: 33px;
}
.expert-content .team-contact .text {
    color: #989898;
    font-weight: 300;
}
.expert-content .text b {
    color: var(--black-color);
}
.expert-content .section-title {
    margin: 0;
}
.expert-content .main-btn {
    width: 40px;
    height: 40px;
    position: relative;
}
.expert-content .main-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--gray-color);
}
.expert-content .section-title {
    text-align: left;
}


/* 
    --- CONTACT FOEM SECTION ---
*/
.contact-bg-img {
    position: relative;
}
.contact-bg-img {
    width: 100%;
    height: 100%;
    background: url(../images/contact/c1.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
}
.contact-bg-img::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 35%;
    height: 100%;
    background: url(../images/contact/c2.jpg) no-repeat;
    background-size: cover;
}
.contact-bg-img::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #253559;
    opacity: 0.9;z-index: -1;
}
.contact-form-detaile {
    width: 66.66666%;
    margin: 0;
}
.contact-form-detaile p::after {
    left: 30px;
}
.contact-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-top: 50px;
}
.contact-form input,select {
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid var(--gray-color);
    color: #d1d4d9;
}
.contact-form input::placeholder {
    color: #d1d4d9;
}


/* 
    --- FOOTER ---
*/
footer {
    background-color: var(--secondry-color);
}
footer , a {
    color: #d4dae3;
}
.about-us {
    width: 34%;
    padding: 0 15px;
}
.footer-nav {
    width: 23%;
}
.subscribe {
    width: 25%;
    padding: 0 15px;
}
.footer-img {
    margin-bottom: 20px;
}
footer .text {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 28px;
}
.footer-btn {
    margin-top: 0;
}
footer h4 {
    font-size: 20px;
    margin: 16px 0;
    font-family: var(--font-montserrat);
    font-weight: 400;
    color: var(--white-color);
}
.footer-nav {
    padding: 0 0 0 55px;
}
.footer-nav li a {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 15px;
    padding: 0 0 0 11px;
    position: relative;
}
.footer-nav li a::before {
    position: absolute;
    content: '\f054';
    font-family: 'FontAwesome';
    left: 0;
    top: 50%;
    transform: translateY(-51%);
    font-size: 9px;
}
.second-footer-nav {
    padding: 0 15px;
    width: 17%;
}
.input-box {
    margin-bottom: 30px;
    position: relative;
}
.input-box input {
    padding: 15px 20px;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    border: none;
}
.send-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
}
.send-btn::before {
    display: none;
}
footer .section-title {
    margin-bottom: 0;
    text-align: left;
}
footer .section-title .main-btn {
    border-radius: 50%;
}